params {
    publish_dir_mode = "copy"
    outdir = "/mnt/workflow/pubdir"
    gatk_docker = "<account>.dkr.ecr.<region>.amazonaws.com/quay/biocontainers/gatk4:<version>"
    sample_name = null
    alignment = null
    alignment_index = null
    fasta = null
    fai = null
    dict = null
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

process {
    withName: '(.+:)?GATK4_SPLITNCIGARREADS' {
        container = params.gatk_docker
        publishDir       = [
                    [
                        mode: params.publish_dir_mode,
                        path: { "${params.outdir}/${params.sample_name}/GATK4_SPLITNCIGARREADS/" },
                        pattern: "*"
                    ],
                ]        
    }

    withName: '(.+:)?GATK4_BASERECALIBRATOR' {
        container = params.gatk_docker
        publishDir       = [
                    [
                        mode: params.publish_dir_mode,
                        path: { "${params.outdir}/${params.sample_name}/GATK4_BASERECALIBRATOR/" },
                        pattern: "*"
                    ],
                ]        
    }

    withName: '(.+:)?GATK4_APPLYBQSR' {
        container = params.gatk_docker
        publishDir       = [
                    [
                        mode: params.publish_dir_mode,
                        path: { "${params.outdir}/${params.sample_name}/GATK4_APPLYBQSR/" },
                        pattern: "*"
                    ],
                ]        
    }

    withName: '(.+:)?GATK4_HAPLOTYPECALLER' {
        container = params.gatk_docker
        publishDir       = [
                    [
                        mode: params.publish_dir_mode,
                        path: { "${params.outdir}/${params.sample_name}/GATK4_HAPLOTYPECALLER/" },
                        pattern: "*"
                    ],
                ]        
    }
}