params {
    publish_dir_mode = "copy"
    outdir = "/mnt/workflow/pubdir"
    mosdepth_docker = "<account>.dkr.ecr.<region>.amazonaws.com/quay/biocontainers/mosdepth:<version>"
    bedtools_docker = "<account>.dkr.ecr.<region>.amazonaws.com/quay/biocontainers/bedtools:<version>"
    deepvariant_docker = "<account>.dkr.ecr.<region>.amazonaws.com/quay/biocontainers/deepvariant:<version>"
    sample_name = null
    alignment = null
    alignment_index = null
    fasta = null
    fai = null
    gencode_bed = null
    min_coverage = null
    model_data = null
    model_index = null
    model_meta = null
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

process {

    withLabel: 'mosdepth' {
        container = params.mosdepth_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}//BED/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'bedtools_merge_intersect' {
        container = params.bedtools_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/BED/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'deepvariant_rundeepvariant' {
        container = params.deepvariant_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/SNP/" },
                pattern: "*"
            ],
        ]
        memory = 192.GB
        cpus = 48
    }
}