docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true
process.scratch = true
conda.enabled = true
nextflow.enable.moduleBinaries = true

params {
    samplesheet = "./assets/samplesheet.csv"
    outdir = "results"
    fasta = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/gencode43/GRCh38.p13/GRCh38.primary_assembly.genome.fa"
    fai = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/gencode43/GRCh38.p13/GRCh38.primary_assembly.genome.fa.fai"
    dict = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/gencode43/GRCh38.p13/GRCh38.primary_assembly.genome.dict"
    dbsnp138 = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
    known_indels = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/Homo_sapiens_assembly38.known_indels.vcf.gz"
    indels_1000G = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    af_only_gnomad = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/af-only-gnomad.hg38.vcf.gz"
    small_exac_common_3 = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/small_exac_common_3.hg38.vcf.gz" 
    dbsnp138_index = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf.gz.tbi"
    known_indels_index = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
    indels_1000G_index = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
    af_only_gnomad_index = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/af-only-gnomad.hg38.vcf.gz.tbi"
    small_exac_common_3_index = "s3://ucla-rare-diseases/UCLA-UDN/assets/reference/broad-references/hg38/v0/small_exac_common_3.hg38.vcf.gz.tbi"
}